<h3>Post a comment</h3>
<%= form_for([@company, @job, @comment]) do |f| %>
  <p>
    <%= f.label :content, "Your comment:" %>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "Submit Comment" %>
  </p>
<% end %>