<h1><%= @category.title %></h1>

<h3>Related Jobs:</h3>

<ul>
  <% @category.jobs.each do |job| %>
    <li><%= link_to job.title, company_job_path(job.company.id, job.id) %> at <%= link_to job.company.name, company_path(job.company) %></li>
  <% end %>
</ul>
